# Compiled output
dist/
build/

# Dependencies
node_modules/
package-lock.json
yarn.lock

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env*
.env.local*
.env.development*
.env.test*
.env.production*

# Misc
.DS_Store
Thumbs.db
tsconfig.tsbuildinfo
